<an-page>
    <an-page-header title="Demo Listas" ></an-page-header>
    <an-page-content title="Listas con scroll">
        <app-scroll-lista maxHeight="400px" height="400px">
            <an-lista titulo="Titulo" subtitulo="sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripciónsub titulo o descripción sub titulo o descripción sub titulo o descripción">
                <an-icon-button icon icono="ti ti-apps"></an-icon-button>
                <an-icon-button actions icono="ti ti-dots"></an-icon-button>
                <an-button texto="hola"></an-button>
            </an-lista>
            <an-lista titulo="Titulo" subtitulo="sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripciónsub titulo o descripción sub titulo o descripción sub titulo o descripción">
                <an-icon-button icon icono="ti ti-apps"></an-icon-button>
                <an-icon-button actions icono="ti ti-dots"></an-icon-button>
                <an-button texto="hola"></an-button>
            </an-lista>
            <an-lista titulo="Titulo" subtitulo="sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripciónsub titulo o descripción sub titulo o descripción sub titulo o descripción">
                <an-icon-button icon icono="ti ti-apps"></an-icon-button>
                <an-icon-button actions icono="ti ti-dots"></an-icon-button>
                <an-button texto="hola"></an-button>
            </an-lista>
            <an-lista titulo="Titulo" subtitulo="sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripciónsub titulo o descripción sub titulo o descripción sub titulo o descripción">
                <an-icon-button icon icono="ti ti-apps"></an-icon-button>
                <an-icon-button actions icono="ti ti-dots"></an-icon-button>
                <an-button texto="hola"></an-button>
            </an-lista>
            <an-lista titulo="Titulo" subtitulo="sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripciónsub titulo o descripción sub titulo o descripción sub titulo o descripción">
                <an-icon-button icon icono="ti ti-apps"></an-icon-button>
                <an-icon-button actions icono="ti ti-dots"></an-icon-button>
                <an-button texto="hola"></an-button>
            </an-lista>
        </app-scroll-lista>
    </an-page-content>

    <an-page-content title="Lista Simple" >

        <div acciones>
            <an-icon-button icono="ti ti-address-book"></an-icon-button>
            <an-icon-button icono="ti ti-app-window"></an-icon-button>
        </div>

        <an-lista titulo="Titulo" subtitulo="sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripciónsub titulo o descripción sub titulo o descripción sub titulo o descripción">
            <an-icon-button icon icono="ti ti-apps"></an-icon-button>
            
            <an-button actions texto="hola"></an-button>
        </an-lista>

        <an-lista titulo="Titulo" subtitulo="sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripciónsub titulo o descripción sub titulo o descripción sub titulo o descripción">
            <an-icon-button icon icono="ti ti-apps"></an-icon-button>
            <!-- <an-icon-button actions icono="ti ti-dots"></an-icon-button> -->
            <div actions>
                <an-button icono="ti ti-search"></an-button>
            </div>
            <!-- <an-icon actions icono="ti ti-search"></an-icon>
            <div actions>asd
                <an-icon  icono="ti ti-chevron-right"></an-icon>
            </div> -->
        </an-lista>

        <an-lista titulo="Titulo" subtitulo="sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripción sub titulo o descripciónsub titulo o descripción sub titulo o descripción sub titulo o descripción">
            <an-icon-button icon icono="ti ti-apps"></an-icon-button>
            <an-icon-button actions icono="ti ti-article"></an-icon-button>
        </an-lista>
    </an-page-content>

</an-page>





      