<an-page>
    <an-page-header title="Datos usuario" [list]="listBread"></an-page-header>
    <an-page-content title="Datos del usuario">
        {{userInfo|json}}
        <hr>
        {{roles | json}}
        <br>
        <hr>
        {{miDato}}
        <br>
        
    </an-page-content>
    <an-page-content title="Servicios demo">
        <div>
            <button (click)="getLista()">lista de Usuarios</button>
            <button (click)="guardarEmpleado()">Guardar Empleado</button>
            <br>
            {{list| json}}
        </div>
    </an-page-content>

<!--     <an-page-content title="Ejemplo de selector">
        <an-selector-buscador [opciones]="listaObj" [(seleccionado)]="keyValueSelected"></an-selector-buscador>
        <div class="row p-3">
            Valor seleccionado: {{keyValueSelected | json}}
            <button (click)="getValue()">HOLA</button>
        </div>
    </an-page-content> -->

    <an-page-content title="Ejemplo de consumo con token">
        <an-button tipo="primary" (onClick)="getToken()" texto="Consumir con token"></an-button>
        <br>
        <textarea id="myTextArea" [value]="dataWS"  rows=15 style="width: 100%;"></textarea>
    </an-page-content>
</an-page>