<an-page>
    <an-page-header title="Demo Listas" ></an-page-header>
    <an-page-content title="Selector simple"> 
        <an-selector [opciones]="lista" [(seleccionado)]="seleccionado" mensaje="Seleccione una opción"></an-selector>
        <div class="row p-3">
                Valor seleccionado: {{seleccionado}}
        </div>
    </an-page-content>

    <an-page-content title="Selector de objeto (key, value)">
        <an-selector-objeto [opciones]="listaObj" [(seleccionado)]="objSelected"></an-selector-objeto>
        <div class="row p-3">
          Valor seleccionado: {{objSelected | json}}
        </div>
    </an-page-content>

    <an-page-content title="Con buscador">
        <an-selector-buscador [opciones]="listaObj" [(seleccionado)]="keyValueSelected"></an-selector-buscador>
        <div class="row p-3">
          Valor seleccionado: {{keyValueSelected | json}}
        </div>
    </an-page-content>
</an-page>
