<an-page>
    <an-page-header title="Demo Botones" ></an-page-header>
    <an-page-content title="Botones">
        
     
        <an-button icono="ti ti-send fs-4 me-2" texto="Primary" tipo="primary"></an-button>
        <an-button icono="ti ti-send fs-4 me-2" texto="secondary" tipo="secondary"></an-button>
        <an-button icono="ti ti-send fs-4 me-2" texto="success" tipo="success"></an-button>
        <an-button icono="ti ti-send fs-4 me-2" texto="info" tipo="info"></an-button>
        <an-button icono="ti ti-send fs-4 me-2" texto="warning" tipo="warning"></an-button>
        <an-button icono="ti ti-send fs-4 me-2" texto="danger" tipo="danger"></an-button>
        <an-button icono="ti ti-send fs-4 me-2" texto="light" tipo="light"></an-button>
        <an-button icono="ti ti-send fs-4 me-2" texto="dark" tipo="dark"></an-button>
    </an-page-content>
    <an-page-content title="Botones light">
        <hr>
        <an-button-light texto="primary" tipo="primary" icono="ti ti-send fs-4 me-2" ></an-button-light>
        <an-button-light texto="secondary" tipo="secondary" icono="ti ti-send fs-4 me-2" ></an-button-light>
        <an-button-light texto="success" tipo="success" icono="ti ti-send fs-4 me-2" ></an-button-light>
        <an-button-light texto="info" tipo="info" icono="ti ti-send fs-4 me-2" ></an-button-light>
        <an-button-light texto="warning" tipo="warning" icono="ti ti-send fs-4 me-2" ></an-button-light>
        <an-button-light texto="danger" tipo="danger" icono="ti ti-send fs-4 me-2" ></an-button-light>
    </an-page-content>
    <an-page-content title="Botones outline">
        <hr>
        <an-button-outline texto="primary" tipo="primary" icono="ti ti-send fs-4 me-2"></an-button-outline>
        <an-button-outline texto="secondary" tipo="secondary" icono="ti ti-send fs-4 me-2"></an-button-outline>
        <an-button-outline texto="success" tipo="success" icono="ti ti-send fs-4 me-2"></an-button-outline>
        <an-button-outline texto="info" tipo="info" icono="ti ti-send fs-4 me-2"></an-button-outline>
        <an-button-outline texto="warning" tipo="warning" icono="ti ti-send fs-4 me-2"></an-button-outline>
        <an-button-outline texto="danger" tipo="danger" icono="ti ti-send fs-4 me-2"></an-button-outline>
        <an-button-outline texto="light" tipo="light" icono="ti ti-send fs-4 me-2"></an-button-outline>
        <an-button-outline texto="dark" tipo="dark" icono="ti ti-send fs-4 me-2"></an-button-outline>

    </an-page-content>
    <an-page-content title="Tamaños de Botones">
        
            <an-button  texto="Primary" size="btn-lg"></an-button>
            <an-button-outline texto="primary" size="btn-xs" tipo="primary" icono="ti ti-send fs-4 me-2"></an-button-outline>
            <an-button-light texto="primary" size="btn-sm" tipo="primary" icono="ti ti-send fs-4 me-2" ></an-button-light>
        
<!--         <button type="button" class="btn mb-1 waves-effect waves-light btn-lg btn-primary"></button>
        <button type="button" class="btn mb-1 waves-effect waves-light btn-primary"></button>
        <button type="button" class="btn mb-1 waves-effect waves-light btn-sm btn-primary"></button>
        <button type="button" class="btn mb-1 waves-effect waves-light btn-xs btn-primary"></button> -->
        <br>
    </an-page-content>
    <an-page-content title="Botones Redondos">
        <hr>
        <an-button-circle icono="fs-5 ti ti-file-description" tipo="primary"></an-button-circle>
        <an-button-circle icono="fs-5 ti ti-file-description" tipo="secondary"></an-button-circle>
        <an-button-circle icono="fs-5 ti ti-file-description" tipo="success"></an-button-circle>
        <an-button-circle icono="fs-5 ti ti-file-description" tipo="info"></an-button-circle>
        <an-button-circle icono="fs-5 ti ti-file-description" tipo="warning"></an-button-circle>
        <an-button-circle icono="fs-5 ti ti-file-description" tipo="danger"></an-button-circle>
    </an-page-content>
    <an-page-content title="Botones Redondos light">
        <hr>
        <app-button-circle-light icono="fs-5 ti ti-file-description" tipo="primary" ></app-button-circle-light>
        <app-button-circle-light icono="fs-5 ti ti-file-description" tipo="secondary" ></app-button-circle-light>
        <app-button-circle-light icono="fs-5 ti ti-file-description" tipo="success" ></app-button-circle-light>
        <app-button-circle-light icono="fs-5 ti ti-file-description" tipo="info" ></app-button-circle-light>
        <app-button-circle-light icono="fs-5 ti ti-file-description" tipo="warning" ></app-button-circle-light>
        <app-button-circle-light icono="fs-5 ti ti-file-description" tipo="danger" ></app-button-circle-light>

    </an-page-content>
</an-page>
